In [1]:
# Import basic package
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('spams.csv')
df.head()

   Unnamed: 0 Labels                                            Message
0           0    ham  go jurong point crazy available bugis n great ...
1           1    ham                            ok lar joking wif u oni
2           2   spam  free entry wkly comp win fa cup final tkts st ...
3           3    ham                u dun say early hor u c already say
4           4    ham                nah think go usf life around though

In [3]:
df = df.iloc[:,1:]
df.head()

  Labels                                            Message
0    ham  go jurong point crazy available bugis n great ...
1    ham                            ok lar joking wif u oni
2   spam  free entry wkly comp win fa cup final tkts st ...
3    ham                u dun say early hor u c already say
4    ham                nah think go usf life around though

In [4]:
df.isnull().sum()

Labels     0
Message    8
dtype: int64

In [5]:
newdf = df.dropna()

In [6]:
newdf.isnull().sum()

Labels     0
Message    0
dtype: int64

In [7]:
newdf.head()

  Labels                                            Message
0    ham  go jurong point crazy available bugis n great ...
1    ham                            ok lar joking wif u oni
2   spam  free entry wkly comp win fa cup final tkts st ...
3    ham                u dun say early hor u c already say
4    ham                nah think go usf life around though

In [8]:
newdf['Labels'].value_counts()

ham     4817
spam     747
Name: Labels, dtype: int64

In [17]:
newdf.shape

(5564, 2)

# Handling imbalance dataset by using oversampling method

In [9]:
ham = newdf[newdf['Labels']=='ham']
spam = newdf[newdf['Labels']=='spam']

In [10]:
ham.shape, spam.shape

((4817, 2), (747, 2))

In [13]:
spam = spam.sample(ham.shape[0], replace=True)

In [14]:
ham.shape, spam.shape

((4817, 2), (4817, 2))

In [11]:
ham.shape[0]

4817

In [15]:
dataset = ham.append(spam, ignore_index=True)
dataset.head()

  Labels                                            Message
0    ham  go jurong point crazy available bugis n great ...
1    ham                            ok lar joking wif u oni
2    ham                u dun say early hor u c already say
3    ham                nah think go usf life around though
4    ham      even brother like speak treat like aid patent

In [16]:
dataset.tail()

     Labels                                            Message
9629   spam              cash prize claim call c rstm sw s ppm
9630   spam  urgent ur guaranteed award still unclaimed cal...
9631   spam  chosen receive award pls call claim number col...
9632   spam  please call customer service representative fr...
9633   spam  free entry wkly comp win fa cup final tkts st ...

In [19]:
# split the data into training and testing for building model and for prediction

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(dataset['Message'], dataset['Labels'],
                                                   test_size=0.25, random_state=101)

In [20]:
x_train

3862     lem know swing pick free basically time semester
8893                                                 tf p
9090    dear xxxxxxx u invited xchat final attempt con...
3956    hi engagement fixd lt gt th next month know re...
8827    urgent mobile xxx bonus caller prize nd attemp...
                              ...
599                           k u also dont msg reply msg
5695    bear pic nick tom pete dick fact type try gay ...
8006    tell u call claim prize u enter ur mobile pers...
1361          charge transfer charge withdraw anyhow like
1547                                       bus leaf lt gt
Name: Message, Length: 7225, dtype: object

In [21]:
x_test

3462                  gon na worry nothing give money use
8889    hard live chat p min choose girl connect live ...
8235                                         ringtoneking
7156    free st week nokia tone ur mob every week txt ...
1998                              apps class varaya elaya
                              ...
3899                                      project pa come
7482    get official england poly ringtone colour flag...
9071    free entry weekly comp chance win ipod txt pod...
9512    tddnewsletter emc co uk game thedailydraw dear...
1572         hello thanx taking call got job start monday
Name: Message, Length: 2409, dtype: object

# Building Classification Model

In [23]:
# Feature Extraction
from sklearn.feature_extraction.text import TfidfVectorizer

# RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

# combining both feature extraction and machine learning together by the help of Pipeline
from sklearn.pipeline import Pipeline

In [24]:
classifier = Pipeline([('tfidf', TfidfVectorizer()),
                      ('classifier', RandomForestClassifier(n_estimators=100,criterion='gini'))])

In [25]:
classifier.fit(x_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('classifier', RandomForestClassifier())])

In [26]:
y_pred_train = classifier.predict(x_train)
y_pred_test = classifier.predict(x_test)

In [27]:
# Performance matrix
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [28]:
print(confusion_matrix(y_train, y_pred_train))
print("************"*10)
print(confusion_matrix(y_test, y_pred_test))

[[3585    0]
 [   0 3640]]
************************************************************************************************************************
[[1232    0]
 [   0 1177]]

In [29]:
print(classification_report(y_train, y_pred_train))
print("************"*10)
print(classification_report(y_test, y_pred_test))

              precision    recall  f1-score   support

         ham       1.00      1.00      1.00      3585
        spam       1.00      1.00      1.00      3640

    accuracy                           1.00      7225
   macro avg       1.00      1.00      1.00      7225
weighted avg       1.00      1.00      1.00      7225

************************************************************************************************************************
              precision    recall  f1-score   support

         ham       1.00      1.00      1.00      1232
        spam       1.00      1.00      1.00      1177

    accuracy                           1.00      2409
   macro avg       1.00      1.00      1.00      2409
weighted avg       1.00      1.00      1.00      2409

In [30]:
print(accuracy_score(y_train, y_pred_train))
print("************"*10)
print(accuracy_score(y_test, y_pred_test))

1.0
************************************************************************************************************************
1.0

In [43]:
# check your model performance

test1 = ["Hi, can you please share the class notes what we discussed yesterday."]
test2 = ["Congratulation, You won a lottery ticket worth $1 Millons ! To claim call @1111111"]
test3 = ["Click here 'www.glajsdlfjasld.com' to get yours prize money"]
test4 = ['please find the attached file for the review']
test5 = ["Get rich in less than a month once you click on the given link 'www.asdjf;lasdjfla.com' and share your account details"]
test6 = ['Your credit card is blocked']
test7 = ["You are lucky one! Congratulation, you will win 1 lakh rupees to click on the given link 'https.www.ggajdajsd.com'"]
test8 = ['your mobile no.  won the  first prize  worth 1 Cr']
test9 = ['Share yours otp to unlock yours account']
test10 = ["sorry we don't have vacancy for your qualification."]

In [44]:
print("test1" , classifier.predict(test1))
print("test2" , classifier.predict(test2))
print("test3" , classifier.predict(test3))
print("test4" , classifier.predict(test4))
print("test5" , classifier.predict(test5))
print("test6" , classifier.predict(test6))
print("test7" , classifier.predict(test7))
print("test8" , classifier.predict(test8))
print("test9" , classifier.predict(test9))
print("test10" , classifier.predict(test10))

test1 ['ham']
test2 ['spam']
test3 ['spam']
test4 ['ham']
test5 ['spam']
test6 ['ham']
test7 ['spam']
test8 ['spam']
test9 ['ham']
test10 ['ham']